@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: #00b7ff;
}

#nav-index {
  margin-left: 30px;
}

.index {
  background-image: url("../images/drones.jpeg");
  width: 1400px;
  height: 800px;
 background-repeat: no-repeat;
 margin-left: 40px;
}
h1 {
  color: green;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  margin-left: 20px;
}


.input-group {
  padding-right: 250px;
}

.btn {
  margin-bottom: 10px;
}