<h2>Create a new drone</h2>
<div id="create-form">
<form method="POST" action="/drones/create">

  <div class="input-group mb-3">
    <span
      for="name"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Name</span>
    <input
      type="text"
      name="name"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span
      for="propeller"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Propeller</span>
    <input
      type="number"
      name="propeller"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span
      for="maxSpeed"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Max Speed</span>
    <input
      type="number"
      name="maxSpeed"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <span
      for="img"
      class="input-group-text"
      id="inputGroup-sizing-default"
    >Image</span>
    <input
      type="text"
      name="img"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div>
    <button class="btn btn-outline-success"><a href="/drones">Crear</a></button>
  </div>

</form>

</div>